---
title: Credits
permalink: /credits/
options: nolanding, nomenu
excerpt: People to thank
background-image: caustic_light.jpg
---
<style>
article .inner .creds td,
article .inner .pcreds {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 10pt;
  font-weight: 400;
  line-height: 1.4em;
  padding: 0.3em 0.3em;
}
</style>

<h4>Design and framework</h4>
<table class="creds">
  {% for c in site.data.credits.creds
%}<tr>
  <td>{{ c.for }}</td>{%
       if c.url %}
  <td><a target="_blank" href="{{ c.url }}">{{ c.by }}</a></td>{%
       else %}
  <td>{{ c.by }}</td>{%
       endif %}
  <td>{% if c.lic %}{{ site.data.credits.licenses[c.lic].name }}{% else %}public domain{% endif %}</td>
</tr>{%
     endfor %}
  {% for ec in site.data.tokens.extra-credit
%}<tr row="extra">
  <td>{{ ec.for }}</td>{%
       if ec.url %}
  <td><a target="_blank" href="{{ ec.url }}">{{ ec.by }}</a></td>{%
       else %}
  <td>{{ ec.by }}</td>{%
       endif %}
  <td>{% if ec.lic %}{{ site.data.credits.licenses[ec.lic].name }}{% else %}public domain{% endif %}</td>
</tr>{%
     endfor %}
</table>

<h4>Inspiration</h4>
<table class="creds"><tr><td>
{% for i in site.data.credits.inspiration
%}  <a target="_blank" href="{{ i.url }}">{{ i.name }}</a>{% unless forloop.last == true %},{% endunless %}{%
   endfor %}{%
   for ei in site.data.tokens.extra-inspiration
%},
<a target="_blank" href="{{ ei.url }}">{{ ei.name }}</a>{%
   endfor %}
</td></tr></table>

<h4>Images</h4>
<div class="box alt"><div class="row uniform 50%">
{% for img in site.data.credits.image-credit
%}<div class="4u">
  {% if img.url %}<a style="border:none !important;" href="{{ img.url }}" target="_blank"
     title="{% if img.by %}{{ img.by }}, {% endif %}{%
               if img.lic %}{{ site.data.credits.licenses[img.lic].name }}{%
               else %}public domain{%
               endif %}">{%
     endif %}<img style="width:100%"
     src="{{ img.src | prepend: site.baseurl }}"
     alt="the image being credited" />{% if img.url %}</a>{% endif %}
</div>{%
   endfor %}{%
   for eimg in site.data.tokens.extra-image-credit
%}<div class="4u">
  {% if eimg.url %}<a style="border:none !important;" href="{{ eimg.url }}" target="_blank"
     title="{% if eimg.by %}{{ eimg.by }}, {% endif %}{%
               if eimg.lic %}{{ site.data.credits.licenses[eimg.lic].name }}{%
               elsif eimg.license %}{{ eimg.license }}{%
               else %}public domain{%
               endif %}">{%
     endif %}<img style="width:100%"
     src="{{ eimg.src | prepend: site.baseurl }}"
     alt="the image being credited" />{% if eimg.url %}</a>{% endif %}
</div>{%
   endfor %}
</div></div>
<p class="pcreds">{%
if site.data.tokens.other-image-credit %}
{{ site.data.tokens.other-image-credit}}{%
else %}{{ site.data.credits.other-image-credit}}{%
endif %}</p>

