---
key: 1
title: Sponsors
permalink: /sponsors/
excerpt: We are looking for sponsors. Here's how you can help.
image: pic02.jpg
background-image: pic02.jpg
---
<h1>Sponsorship</h1>
<p>We are just getting started and are looking for sponsorship or Space Apps Milwaukee 2019. If you want to help, please <a href="mailto:spaceappsmke@gmail.com">contact us.</a></p>
{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.works %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
      <tr>
        <td><b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b></td>
        <td>{{ work.date | date: "%b %Y" }}</td>
        <td>{{ work.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  if site.works_in_progress %}
  <div class="works_inprogress">In-progress, more to come.</div>{%
  endif %}{%
endif
%}
