<!DOCTYPE html>
{% include topcomment.html %}
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}

      <article{%
        if page.background-image %} id="main"{%
        elsif page.options contains 'minihead' %} id="minihead"{%
        else %} id="standard"{%
        endif %}>

        {% include header-inner.html %}

        {{ content }}

      </article>

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>